<div class="grey-banner">I.B.J Global link</div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "kitchen.jpeg", alt: "first slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "bathroom2.jpeg", alt: "second slide", class:"caro-pic" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "living-room2.jpeg", alt: "third slide", class:"caro-pic" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="grey-banner"></div>
<div class="light-grey d-flex">
  <%= image_tag "floor-design", alt: "flooring", class:"flooring-img" %>
  <div class="central-text">
    <h3>Our mission</h3>
    <p>Elemental silhouettes, clear-cut and functional geometric shapes.
    Characteristic features: an attractive design and minimal styling (thanks to the absence of handles), open-fronted modules for the most diverse confgurations, appealing living room elements and a great variety of finishes and colours. Indeed, the focus lies on materials: Marble effect laminates, available for doors and tops; warm Walnut effect decorative melamines and Oak decorative melamines, all with vertical grain; textured effect Biomalta with a metropolitan feel; attractive metal effect lacquers.
    These are all stylish choices for a truly classy kitchen</p>
  </div>
</div>


