<h1>Our products</h1>

<% @items.each do |item| %>
  <% if item.nil? %>
    <p>sorry there are no items available</p>
  <% else %>
    <p><%= item.name %>
      <%= item.description %>
    </p>
 <% end %>
<% end %>
