.navbar-lewagon {
  justify-content: space-between;
  background: #2D3436;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-font  {
  color: #f4f4f4;
  text-decoration: none;
  padding: 0 1rem;
}

.nav-font:hover  {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

